.cart-container{

}

.qty-box{
    width: 50px;
    height: 25px;
    background: #fafafa;
}

.cart-item-card{
    border-radius: 5px;
    background-color: #eeeeee;
    border: 2px outset #ccc;
    
}

.cart-img{
    height: 100px;
}

.cart-summary{
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.5);
    background: rgba(255,255,255,0.75)
}

.promo-summary{
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.5);
}

.left-image{
    background-image: url("../assets/checkout.png");
    height: 600px;
    background-position: left;
    background-repeat: no-repeat;
}

.item-name-header{
    border-bottom: 1px solid #ddd;
}

.cart-border{
    
    border-right: 1px solid #ddd;
}