.item-container {
    border: 1px solid darkgreen;
    box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.5);
    border-radius: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    background: linear-gradient(0deg, rgba(0,100,0,0.2497373949579832) 0%, rgba(255,255,255,1) 14%, rgba(255,255,0,0.2497373949579832) 100%);
}

.pic-preview{
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.5);
    transition: 0.3s;
}

.pic-preview :hover{
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(13, 13, 13, 0.5);
}

.pic-preview-container{
    
}

.long-desc{
    text-align: left;
    font-weight: bold;
    margin-right: 25px;
    background-color: rgba(255,255,255,.8);
    border: 1px solid darkgreen;
    border-radius: 5px;
}

.short-desc{
    font-weight: bold;
}

.review-list-container{
    border: 1px solid gray;
    border-radius: 5px;
    height: 160px;
    margin: 2px;
    box-shadow: 1px 1px 1px rgba(13, 13, 13, 0.5);
    background-color: gray;
}

.review-list{
    padding: 5px;
    margin: 2px;
    overflow-y: scroll;
    height: 156px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(255,255,255)
}

.first-name{
    font-weight: bolder;
}

.city-state{
    
}

.review-string-1{
    font-weight: 400;
}

.review-string-2{
    font-weight: 400;
    font-style: italic;
}

.review-link{
    text-decoration: none;
    color: green;
}

#qty-input{
    width: 250px;
    --bs-focus-ring-color: rgba(var(--bs-success-rgb), .75);
}

#qty-input input{
    text-align: center;
}

#no-decoration{
    text-decoration: none;
}

.tab-box{
    border-left: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
}

.thumby{
    height: 150px;
    width: 150px;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px rgba(13, 13, 13, 0.5);
}

.circle{
    background: #e3e3e3;
    border-radius: 50%;
    color: #6e6e6e;
    display: inline-block;
    font-weight: bold;
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
}

.item-frame{
    margin-bottom: 150px;
}